<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="com.example.criticalalerts"
		version="1.0.0">
	<name>CriticalAlerts</name>
	<description>Plugin to request Critical Alerts permission on iOS</description>
	<license>MIT</license>
	<keywords>cordova, critical alerts, permissions, ios</keywords>

	<js-module src="www/CriticalAlerts.js" name="CriticalAlerts">
		<clobbers target="CriticalAlerts" />
	</js-module>

	<platform name="ios">
		<source-file src="src/ios/CriticalAlerts.swift" />
	</platform>
</plugin>
